.mainVideo {
  grid-area: contentVideo;
  transition: all 3s;
  height: 52vh;
  z-index: 0;
  /* position: fixed; */
  /* background-color: rgb(167, 80, 116); */
}

.main2 {
  grid-area: contentVideoInfo;
  margin-top: 40px;
  width: 592px;
  /* background-color: rgb(161, 228, 53); */
}