.focus {
  border-radius: 8px;
  opacity: 0.4;
  background-color: gray;
}

nav {
  grid-area: nav;
  display:flex;justify-content:center;align-items:center;
  color: #fafafa;
  height: 1080px;
  width: 80px;
  /* background-color: aqua; */
}