.mainVideo {
  z-index: 0;
}


#media-controls {
  display: flex;
  position: fixed;
  bottom: 10%;
  left: 0;
  padding: 5px;
}

.main2 {
  grid-area: contentVideoInfo;
  margin-top: 40px;
  width: 592px;
  height: 500px;
  z-index: 2;
}

.avatar {
  width: 900px;
  display: flex;
  flex-direction: row;
}
#avatarImg {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}
