::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  color: #fafafa;
  margin: 0;
  font-family: 'Russo One', sans-serif;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
  color: #fafafa;
}

div.scrollmenu {
  scroll-snap-type: x mandatory;
  /* -webkit-overflow-scrolling:  */
  /* overflow: auto; */
  overflow-x: scroll;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

div.scrollmenu :hover {
  background-color: #777;
}

.container {
  display: flex;
  overflow-y: hidden;
  height: 1080px; 
}

.main3 {
  grid-area: contentVideoList;
  height: 498px;
}

.streamCard {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.focused {
 background-color: #777;
}

.streamCard img {vertical-align: middle;}

.streamCard h1 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.up {
  display: flex;
}

.content {
  width: 1832px;
  margin-left: 8px;
  overflow: unset;
  left: 80px;
  position: fixed;
}