.focus {
  border-radius: 8px;
  opacity: 0.4;
  background-color: gray;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
  width: 80px;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  transition: all ease-in-out .42s;
}